# --- Python (Байт-код и кэш) ---
# Игнорируем папку, где Python хранит скомпилированные файлы
__pycache__/
# Игнорируем отдельные скомпилированные файлы (если они появятся вне папки)
*.pyc

# --- Виртуальное окружение ---
# Здесь укажи имя папки твоего окружения.
# Самые частые варианты:
venv/
env/
.venv/

# --- Безопасность (Секреты) ---
# Самый важный пункт! Никогда не грузи ключи и пароли.
.env

# --- Настройки редакторов кода (IDE) ---
# Папка настроек PyCharm / IntelliJ
.idea/
# Папка настроек VS Code
.vscode/

# --- Windows (Системный мусор) ---
# Файл с эскизами изображений (создается Windows автоматически)
Thumbs.db
ehthumbs.db
# Файлы настроек папок Windows
Desktop.ini
# Логи и временные файлы
*.log